.bg-line {
  position: absolute;
}

.bg-line:nth-child(1) {
  top: 3.33%;
  left: 13vw;
  width: 1vw;
  transform: scaleX(26);
  height: 3.33%;
  background-color: rgba(56, 38, 29, 0.3);
  z-index: -1;
}

.bg-line:nth-child(2) {
  top: 6.66%;
  left: 49vw;
  width: 1vw;
  transform: scaleX(100);
  height: 3.33%;
  background-color: rgba(56, 38, 29, 0.3);
  z-index: -1;
}

.bg-line:nth-child(3) {
  top: 9.99%;
  left: 66vw;
  width: 1vw;
  transform: scaleX(36);
  height: 3.33%;
  background-color: rgba(56, 38, 29, 0.3);
  z-index: -1;
}

.bg-line:nth-child(4) {
  top: 13.32%;
  left: 28vw;
  width: 1vw;
  transform: scaleX(67);
  height: 3.33%;
  background-color: rgba(56, 38, 29, 0.3);
  z-index: -1;
}

.bg-line:nth-child(5) {
  top: 16.65%;
  left: 90vw;
  width: 1vw;
  transform: scaleX(83);
  height: 3.33%;
  background-color: rgba(56, 38, 29, 0.3);
  z-index: -1;
}

.bg-line:nth-child(6) {
  top: 19.98%;
  left: 19vw;
  width: 1vw;
  transform: scaleX(92);
  height: 3.33%;
  background-color: rgba(56, 38, 29, 0.3);
  z-index: -1;
}

.bg-line:nth-child(7) {
  top: 23.31%;
  left: 59vw;
  width: 1vw;
  transform: scaleX(38);
  height: 3.33%;
  background-color: rgba(56, 38, 29, 0.3);
  z-index: -1;
}

.bg-line:nth-child(8) {
  top: 26.64%;
  left: 74vw;
  width: 1vw;
  transform: scaleX(52);
  height: 3.33%;
  background-color: rgba(56, 38, 29, 0.3);
  z-index: -1;
}

.bg-line:nth-child(9) {
  top: 29.97%;
  left: 54vw;
  width: 1vw;
  transform: scaleX(95);
  height: 3.33%;
  background-color: rgba(56, 38, 29, 0.3);
  z-index: -1;
}

.bg-line:nth-child(10) {
  top: 33.3%;
  left: 81vw;
  width: 1vw;
  transform: scaleX(18);
  height: 3.33%;
  background-color: rgba(56, 38, 29, 0.3);
  z-index: -1;
}

.bg-line:nth-child(11) {
  top: 36.63%;
  left: 98vw;
  width: 1vw;
  transform: scaleX(22);
  height: 3.33%;
  background-color: rgba(56, 38, 29, 0.3);
  z-index: -1;
}

.bg-line:nth-child(12) {
  top: 39.96%;
  left: 75vw;
  width: 1vw;
  transform: scaleX(95);
  height: 3.33%;
  background-color: rgba(56, 38, 29, 0.3);
  z-index: -1;
}

.bg-line:nth-child(13) {
  top: 43.29%;
  left: 100vw;
  width: 1vw;
  transform: scaleX(24);
  height: 3.33%;
  background-color: rgba(56, 38, 29, 0.3);
  z-index: -1;
}

.bg-line:nth-child(14) {
  top: 46.62%;
  left: 79vw;
  width: 1vw;
  transform: scaleX(40);
  height: 3.33%;
  background-color: rgba(56, 38, 29, 0.3);
  z-index: -1;
}

.bg-line:nth-child(15) {
  top: 49.95%;
  left: 58vw;
  width: 1vw;
  transform: scaleX(30);
  height: 3.33%;
  background-color: rgba(56, 38, 29, 0.3);
  z-index: -1;
}

.bg-line:nth-child(16) {
  top: 53.28%;
  left: 60vw;
  width: 1vw;
  transform: scaleX(25);
  height: 3.33%;
  background-color: rgba(56, 38, 29, 0.3);
  z-index: -1;
}

.bg-line:nth-child(17) {
  top: 56.61%;
  left: 98vw;
  width: 1vw;
  transform: scaleX(61);
  height: 3.33%;
  background-color: rgba(56, 38, 29, 0.3);
  z-index: -1;
}

.bg-line:nth-child(18) {
  top: 59.94%;
  left: 6vw;
  width: 1vw;
  transform: scaleX(30);
  height: 3.33%;
  background-color: rgba(56, 38, 29, 0.3);
  z-index: -1;
}

.bg-line:nth-child(19) {
  top: 63.27%;
  left: 36vw;
  width: 1vw;
  transform: scaleX(64);
  height: 3.33%;
  background-color: rgba(56, 38, 29, 0.3);
  z-index: -1;
}

.bg-line:nth-child(20) {
  top: 66.6%;
  left: 18vw;
  width: 1vw;
  transform: scaleX(92);
  height: 3.33%;
  background-color: rgba(56, 38, 29, 0.3);
  z-index: -1;
}

.bg-line:nth-child(21) {
  top: 69.93%;
  left: 82vw;
  width: 1vw;
  transform: scaleX(33);
  height: 3.33%;
  background-color: rgba(56, 38, 29, 0.3);
  z-index: -1;
}

.bg-line:nth-child(22) {
  top: 73.26%;
  left: 43vw;
  width: 1vw;
  transform: scaleX(95);
  height: 3.33%;
  background-color: rgba(56, 38, 29, 0.3);
  z-index: -1;
}

.bg-line:nth-child(23) {
  top: 76.59%;
  left: 17vw;
  width: 1vw;
  transform: scaleX(57);
  height: 3.33%;
  background-color: rgba(56, 38, 29, 0.3);
  z-index: -1;
}

.bg-line:nth-child(24) {
  top: 79.92%;
  left: 22vw;
  width: 1vw;
  transform: scaleX(41);
  height: 3.33%;
  background-color: rgba(56, 38, 29, 0.3);
  z-index: -1;
}

.bg-line:nth-child(25) {
  top: 83.25%;
  left: 46vw;
  width: 1vw;
  transform: scaleX(24);
  height: 3.33%;
  background-color: rgba(56, 38, 29, 0.3);
  z-index: -1;
}

.bg-line:nth-child(26) {
  top: 86.58%;
  left: 82vw;
  width: 1vw;
  transform: scaleX(50);
  height: 3.33%;
  background-color: rgba(56, 38, 29, 0.3);
  z-index: -1;
}

.bg-line:nth-child(27) {
  top: 89.91%;
  left: 17vw;
  width: 1vw;
  transform: scaleX(82);
  height: 3.33%;
  background-color: rgba(56, 38, 29, 0.3);
  z-index: -1;
}

.bg-line:nth-child(28) {
  top: 93.24%;
  left: 75vw;
  width: 1vw;
  transform: scaleX(53);
  height: 3.33%;
  background-color: rgba(56, 38, 29, 0.3);
  z-index: -1;
}

.bg-line:nth-child(29) {
  top: 96.57%;
  left: 57vw;
  width: 1vw;
  transform: scaleX(31);
  height: 3.33%;
  background-color: rgba(56, 38, 29, 0.3);
  z-index: -1;
}

.bg-line:nth-child(30) {
  top: 99.9%;
  left: 38vw;
  width: 1vw;
  transform: scaleX(58);
  height: 3.33%;
  background-color: rgba(56, 38, 29, 0.3);
  z-index: -1;
}