.paper {
  position: absolute;
  top: 30%;
  left: 5%;
  width: 18vw;
  aspect-ratio: 0.773;
  background-color: white;
  transition: all 0.5s;
}
.paper:hover {
  transform: scale(1.05);
}
.paper.selected {
  top: 50%;
  left: 50%;
  transform-origin: center center;
  transform: translate(-50%, -50%) scale(1.5) !important;
  translate: 0% 0% !important;
  rotate: 0deg !important;
  z-index: 5;
}

.paper-tab {
  position: absolute;
  height: 7%;
  width: 70%;
  top: -6.8%;
  border-top-right-radius: 1vw;
}

.paper:nth-child(1) {
  rotate: -15deg;
  background-color: hsl(46deg, 50%, 50%);
  translate: 5vh;
}

.paper:nth-child(2) {
  rotate: -8deg;
  background-color: hsl(36deg, 50%, 50%);
  translate: 10vh;
}

.paper:nth-child(3) {
  rotate: -1deg;
  background-color: hsl(63deg, 50%, 50%);
  translate: 15vh;
}

.paper:nth-child(4) {
  rotate: 6deg;
  background-color: hsl(41deg, 50%, 50%);
  translate: 20vh;
}

.paper:nth-child(5) {
  rotate: 13deg;
  background-color: hsl(72deg, 50%, 50%);
  translate: 25vh;
}