.paper {
  position: absolute;
  top: 30%;
  left: 10%;
  width: 18vw;
  aspect-ratio: 0.773;
  background-color: white;
  transition: all 0.5s;
}
.paper:hover {
  scale: 1.05;
}

.paper:nth-child(1) {
  rotate: -28deg;
  background-color: hsl(81deg, 50%, 50%);
  z-index: 14;
}

.paper:nth-child(2) {
  rotate: -12.5deg;
  background-color: hsl(32deg, 50%, 50%);
  z-index: 73;
}

.paper:nth-child(3) {
  rotate: 5deg;
  background-color: hsl(74deg, 50%, 50%);
  z-index: 56;
}

.paper:nth-child(4) {
  rotate: 19.5deg;
  background-color: hsl(58deg, 50%, 50%);
  z-index: 35;
}

.paper:nth-child(5) {
  rotate: 43deg;
  background-color: hsl(65deg, 50%, 50%);
  z-index: 40;
}