.paper {
    position: absolute;
    top: 30%;
    left: 10%;

    width: 18vw;
    aspect-ratio: .773;

    background-color: white;
    transition: all 0.5s;

    &:hover {
        scale: 1.05;
        // z-index: 2;
    }

    &.selected {
        
    }
}

@for $i from 1 through 5 {
    .paper:nth-child(#{$i}) {
        rotate: #{-35 + ($i - 1 ) * 17.5 + random(10)} + deg;
        background-color: hsl(random(70)+30, 50%, 50%);
        z-index: random(100);
    }
}